@charset "utf-8";

@import "compass/css3";
@import "http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,400,600,900";
@import "partials/styles";
@import "partials/typography";
@import "partials/pygment_trac";


$turquoise : #26c1c5;
.element{
  @include border-radius(6px);
  @include background-image(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(255, 255, 255, 0.9)), color-stop(100%, rgba(255, 255, 255, 0)));
  @include box-shadow(inset 0 1px 0 white, 0 1px 3px rgba(0, 0, 0, 0.2));
  text-align:center;
  padding: 17px 20px;
  text-decoration: none;
  border:2px solid $turquoise;
  margin:10px 0;
  line-height: 1;
  color: $turquoise;
  h3{
    font-size: 16px;
    color: darken($turquoise, 10%);
    font-weight:600;
  }
  &.round{
    @include border-radius(400px);
    padding: 50px;
  }
}
